body{
    margin: 0;
}

#list{
    display: none;
    color: white;
}

.leftSide{
    background:rgba(0, 0, 0, 0.8);
    box-shadow: -2px -0px 5px 10px rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding: 10px;
}
.menu{
    width: 100%;
    transition: ease-in 1s;
}

button{
    font-size: 30px;
    border: none;
    background: none;
    color: white;
}